@tailwind base;

@tailwind components;

/* ======== Button ======== */
.cs-nav-selected {
  @apply justify-between cs-font-buttonSelected md:justify-start md:space-x-3 px-6 rounded-lg text-left md:cursor-pointer bg-blue-50  overflow-hidden text-cs-primary whitespace-nowrap;
}

.cs-nav-normal {
  @apply cs-font-buttonNormal transition-colors text-slate-500 md:justify-start md:space-x-3 px-6 rounded-lg text-left md:cursor-pointer  hover:text-cs-primary whitespace-nowrap;
}

/* ======== Table ======== */
.cs-table-title {
  @apply px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase whitespace-nowrap;
}

.cs-table-body {
  @apply px-6 py-5 text-sm font-body  text-left;
}

/* ======== Status Button ======== */
.cs-status-waiting {
  @apply px-4 py-2 text-xs font-semibold text-red-500 bg-red-200 rounded;
}

/* ======== Fonts ======== */
.cs-font-headline1 {
  @apply text-3xl;
}

.cs-font-headline2 {
  @apply text-2xl;
}

.cs-font-title {
  @apply text-sm font-semibold;
}

.cs-font-subtitle {
  @apply text-base;
}

.cs-font-body {
  @apply text-sm font-normal;
}

.cs-font-caption {
  @apply text-xs;
}

.cs-font-overline {
  @apply text-xs font-medium uppercase;
}

.cs-font-buttonHover {
  @apply text-sm;
}

.cs-font-buttonNormal {
  @apply text-sm font-light;
}

.cs-font-buttonSelected {
  @apply text-sm font-medium;
}

@tailwind utilities;
@layer base {
  @font-face {
    font-family: 'primary-Light';
    src: url('/layouts/media/fonts/Mulish-Light.ttf');
  }
  @font-face {
    font-family: 'primary-Bold';
    src: url('/layouts/media/fonts/Mulish-Bold.ttf');
  }
  @font-face {
    font-family: 'primary-Medium';
    src: url('/layouts/media/fonts/Mulish-Medium.ttf');
  }
  @font-face {
    font-family: 'primary-Regular';
    src: url('/layouts/media/fonts/Mulish-Regular.ttf');
  }
}
