<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preventive Maintance - detail</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./media/fontawesome-pro-6.0.0-web/css/all.min.css">
    <!-- alpinejs -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!-- tailwind element -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- flowbite -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />


</head>

<body x-data="{ modal: false }">
    <!-- ===== section header ==== -->
    <section class="fixed z-50 w-full h-16 bg-white border-b md:px-2">
        <div class="flex justify-between h-full">
            <div class="z-10 flex justify-between w-full px-2">

                <!-- logo -->
                <div class="flex space-x-4 md:space-x-0">
                    <a href="./buildingManagement-PreventiveMaintance-create.html" class="block my-auto md:hidden">
                        <button class="w-8 h-8 rounded-full bg-slate-100">
                            <i class="fa-regular fa-chevron-left"></i>
                        </button>
                    </a>
                    <a href="./index.html" class="flex my-auto">
                        <div class="flex w-36 md:w-64">
                            <img src="./media/img/lg-primary.svg" alt="" class="h-6 my-auto md:h-10">
                        </div>
                    </a>
                </div>
                <!-- end logo -->

                <!-- profile button -->
                <a href="#" class="hidden px-2 py-1 my-auto space-x-3 border rounded md:flex">
                    <img src="https://images.pexels.com/photos/8090261/pexels-photo-8090261.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="" class="object-cover w-10 h-10 border-2 rounded-full">
                    <h1 class="my-auto text-sm font-title text-slate-800">Phoenix Jasper</h1>
                </a>
                <!-- end profile button -->

                <!-- bars icon (mobile) -->
                <button class="block w-8 h-8 my-auto rounded-full bg-slate-50 md:hidden">
                    <i class="my-auto fa-regular fa-bars" @click="modal = true"></i>
                </button>
                <!-- bars icon (mobile) -->
            </div>

            <!--! modal mobile -->
            <div class="absolute z-20 w-full h-screen md:hidden" x-show="modal">
                <div class="fixed w-full h-screen bg-white">
                    <div class="flex flex-col h-screen space-y-2 overflow-y-auto">



                        <!-- modal header (mobile) -->
                        <div class="fixed z-20 w-full h-16 px-2 py-4 bg-white border-b">
                            <div class="flex justify-between">
                                <img src="./media/img/lg-primary.svg" alt="" class="h-6 my-auto">
                                <button class="w-8 h-8 my-auto rounded-full bg-slate-50" @click="modal = !modal">
                                    <i class="my-auto fa-regular fa-xmark"></i>
                                </button>
                            </div>
                        </div>
                        <!-- end modal header (mobile) -->

                        <!-- modal footer (profile) (mobile) -->
                        <a href="#" class="fixed bottom-0 z-20 w-full h-16 px-3 py-4 bg-white border-t">
                            <div class="flex justify-between h-full">
                                <div class="flex space-x-2">
                                    <img src="https://images.pexels.com/photos/8090261/pexels-photo-8090261.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1g"
                                        alt="" class="object-cover w-8 h-8 my-auto border-2 rounded-full ">
                                    <h1 class="my-auto text-sm font-title text-slate-800">Phoenix Jasper</h1>
                                </div>
                                <button class="w-8 h-8 my-auto rounded-full bg-slate-50">
                                    <i class="my-auto fa-regular fa-chevron-right"></i>
                                </button>
                            </div>
                        </a>
                        <!-- end modal footer (profile) (mobile) -->


                        <!-- Menu button (mobile) -->
                        <ul class="z-10 flex flex-col pt-14">


                            <!-- dashboard (mobile) -->
                            <li class="relative w-full" id="">
                                <a href="./index.html"
                                    class="flex justify-between h-12 px-6 py-4 overflow-hidden text-sm text-gray-700 transition ease-in-out cursor-pointer hover:bg-primary/5 whitespace-nowrap "
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">
                                    <div class="flex w-full space-x-2">
                                        <i class="my-auto text-cs-black fa-regular fa-display"></i>
                                        <h1 class="text-sm text-left font-title-regular text-cs-black">Dashboard</h1>
                                    </div>
                                </a>
                            </li>
                            <!-- end dashboard (mobile) -->

                            <!-- news (mobile) -->
                            <li class="relative w-full" id="news">
                                <a class="flex justify-between h-12 px-6 py-4 overflow-hidden text-sm text-gray-700 transition ease-in-out bg-white rounded cursor-pointer whitespace-nowrap hover:text-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow" data-bs-toggle="collapse"
                                    data-bs-target="#collapsenews" aria-expanded="false" aria-controls="collapsenews">

                                    <div class="flex space-x-2">
                                        <i class="my-auto fa-regular fa-newspaper "></i>
                                        <h1 class="text-sm text-left font-body text-cs-black">News</h1>
                                    </div>
                                    <i class="my-auto fa-regular fa-angle-up"></i>

                                </a>
                                <ul class="relative accordion-collapse collapse" id="collapsenews"
                                    aria-labelledby="news" data-bs-parent="#sidenavSecExample">
                                    <li class="relative">
                                        <a href="./news-internalNews.html"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out bg-white font-title-regular whitespace-nowrap"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">Internal News</a>
                                    </li>
                                    <li class="relative">
                                        <a href="./news-tenantNews.html"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out bg-white whitespace-nowrap font-body"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">Tenant News</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- end news (mobile) -->

                            <!-- Building Management (mobile) -->
                            <li class="relative w-full" id="buildingManagement">
                                <a class="flex justify-between h-12 px-6 py-4 overflow-hidden text-sm text-gray-700 transition ease-in-out rounded cursor-pointer whitespace-nowrap bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow" data-bs-toggle="collapse"
                                    data-bs-target="#collapsebuildingManagement" aria-expanded="false"
                                    aria-controls="collapsebuildingManagement">

                                    <div class="flex space-x-2">
                                        <i class="my-auto fa-regular fa-clipboard "></i>
                                        <h1 class="text-sm text-left font-title text-cs-black">Building
                                            Management</h1>
                                    </div>
                                    <i class="my-auto fa-regular fa-angle-up"></i>

                                </a>
                                <ul class="relative accordion-collapse collapse" id="collapsebuildingManagement"
                                    aria-labelledby="buildingManagement" data-bs-parent="#sidenavSecExample">
                                    <li class="relative">
                                        <a href="./buildingManagement-tenantMeterUtility.html"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">Tenant Meter
                                            Utility</a>
                                    </li>
                                    <li class="relative">
                                        <a href="#!"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out whitespace-nowrap bg-slate-100 font-title"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">Preventive
                                            Maintance</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- end Building Management (mobile) -->


                            <!-- Tenant & Internal (mobile) -->
                            <li class="relative w-full" id="internal">
                                <a class="flex justify-between h-12 px-6 py-4 overflow-hidden text-sm text-gray-700 transition ease-in-out rounded cursor-pointer whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow" data-bs-toggle="collapse"
                                    data-bs-target="#collapseinternal" aria-expanded="false"
                                    aria-controls="collapseinternal">

                                    <div class="flex space-x-2">
                                        <i class="my-auto fa-regular fa-store "></i>
                                        <h1 class="text-sm text-left font-title-regular text-cs-black">Tenant & Internal
                                        </h1>
                                    </div>
                                    <i class="my-auto fa-regular fa-angle-up"></i>

                                </a>
                                <ul class="relative accordion-collapse collapse" id="collapseinternal"
                                    aria-labelledby="internal" data-bs-parent="#sidenavSecExample">
                                    <li class="relative">
                                        <a href="#!"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">Complaint &
                                            Request</a>
                                    </li>
                                    <li class="relative">
                                        <a href="#!"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">Internal Work
                                            Order</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- end Tenant & Internal (mobile) -->

                            <!-- Master Data (mobile) -->
                            <li class="relative w-full" id="masterData">
                                <a class="flex justify-between h-12 px-6 py-4 overflow-hidden text-sm text-gray-700 transition ease-in-out rounded cursor-pointer whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow" data-bs-toggle="collapse"
                                    data-bs-target="#collapsemasterData" aria-expanded="false"
                                    aria-controls="collapsemasterData">

                                    <div class="flex space-x-2">
                                        <i class="my-auto fa-regular fa-database "></i>
                                        <h1 class="text-sm text-left font-title-regular text-cs-black">Master Data</h1>
                                    </div>
                                    <i class="my-auto fa-regular fa-angle-up"></i>

                                </a>
                                <ul class="relative accordion-collapse collapse" id="collapsemasterData"
                                    aria-labelledby="masterData" data-bs-parent="#sidenavSecExample">
                                    <li class="relative">
                                        <a href="#!"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">Items</a>
                                    </li>
                                    <li class="relative">
                                        <a href="#!"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">Preventive
                                            Templates</a>
                                    </li>
                                    <li class="relative">
                                        <a href="#!"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">Basic Price
                                            Utilities</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- Master Data (mobile) -->

                            <!-- Category (mobile) -->
                            <li class="relative w-full" id="category">
                                <a class="flex justify-between h-12 px-6 py-4 overflow-hidden text-sm text-gray-700 transition ease-in-out rounded cursor-pointer whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow" data-bs-toggle="collapse"
                                    data-bs-target="#collapsecategory" aria-expanded="false"
                                    aria-controls="collapsecategory">

                                    <div class="flex space-x-2">
                                        <i class="my-auto fa-solid fa-grip-dots"></i>
                                        <h1 class="text-sm text-left font-title-regular text-cs-black">Category</h1>
                                    </div>
                                    <i class="my-auto fa-regular fa-angle-up"></i>

                                </a>
                                <ul class="relative accordion-collapse collapse" id="collapsecategory"
                                    aria-labelledby="category" data-bs-parent="#sidenavSecExample">
                                    <li class="relative">
                                        <a href="#!"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">Tenant</a>
                                    </li>
                                    <li class="relative">
                                        <a href="#!"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">Asset</a>
                                    </li>
                                    <li class="relative">
                                        <a href="#!"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">Work Order</a>
                                    </li>
                                    <li class="relative">
                                        <a href="#!"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">Complaint &
                                            Request</a>
                                    </li>
                                    <li class="relative">
                                        <a href="#!"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">Preventive</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- Category (mobile) -->

                            <!-- Settings (mobile) -->
                            <li class="relative w-full" id="settings">
                                <a class="flex justify-between h-12 px-6 py-4 overflow-hidden text-sm text-gray-700 transition ease-in-out rounded cursor-pointer whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow" data-bs-toggle="collapse"
                                    data-bs-target="#collapsesettings" aria-expanded="false"
                                    aria-controls="collapsesettings">

                                    <div class="flex space-x-2">
                                        <i class="my-auto fa-regular fa-gear"></i>
                                        <h1 class="text-sm text-left font-title-regular text-cs-black">Settings</h1>
                                    </div>
                                    <i class="my-auto fa-regular fa-angle-up"></i>

                                </a>
                                <ul class="relative accordion-collapse collapse" id="collapsesettings"
                                    aria-labelledby="settings" data-bs-parent="#sidenavSecExample">
                                    <li class="relative">
                                        <a href="#!"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">Property Setting</a>
                                    </li>
                                    <li class="relative">
                                        <a href="#!"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">Tenant Setting</a>
                                    </li>
                                    <li class="relative">
                                        <a href="#!"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">Floor Setting</a>
                                    </li>
                                    <li class="relative">
                                        <a href="#!"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">Unit Setting</a>
                                    </li>
                                    <li class="relative">
                                        <a href="#!"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">Role Setting</a>
                                    </li>
                                    <li class="relative">
                                        <a href="#!"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">Dept Setting</a>
                                    </li>
                                    <li class="relative">
                                        <a href="#!"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">User Cornerstone</a>
                                    </li>
                                    <li class="relative">
                                        <a href="#!"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">User Property</a>
                                    </li>
                                    <li class="relative">
                                        <a href="#!"
                                            class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:text-primary hover:bg-primary/5"
                                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">User Tenant</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- Settings (mobile) -->
                        </ul>
                        <!-- end Menu button (mobile) -->
                    </div>
                </div>
            </div>
            <!--! end modal mobile -->

        </div>
    </section>
    <!-- ===== end section header ==== -->



    <!-- ===== section main ==== -->
    <section class="flex-col w-full md:flex md:flex-row md:min-h-screen">

        <!-- ===== section button (left on desktop) ==== -->
        <section
            class="z-20 flex-col flex-shrink-0 hidden h-screen pt-16 overflow-y-auto text-gray-700 bg-white border-r md:w-64 md:block whitespace-nowrap scrollbar-hide">
            <div class="flex flex-col items-center justify-between flex-shrink-0 bg-white">

                <ul class="w-full" id="sidenavSecExample">

                    <!-- dashboard (desktop) -->
                    <li class="relative w-full" id="">
                        <a href="./index.html"
                            class="flex justify-between h-12 px-6 py-4 overflow-hidden text-sm text-gray-700 transition ease-in-out rounded cursor-pointer whitespace-nowrap hover:font-title hover:bg-slate-100 "
                            data-mdb-ripple="true" data-mdb-ripple-color="yellow">
                            <div class="flex w-full space-x-2 ">
                                <i class="my-auto text-cs-black fa-regular fa-display"></i>
                                <h1 class="text-sm text-left font-title-regular text-cs-black hover:font-title">
                                    Dashboard</h1>
                            </div>
                        </a>
                    </li>
                    <!-- end dashboard (desktop) -->

                    <!-- news (desktop) -->
                    <li class="relative w-full" id="news">
                        <a class="flex justify-between h-12 px-6 py-4 overflow-hidden text-sm text-gray-700 transition ease-in-out bg-white cursor-pointer hover:font-title font-body hover:bg-slate-100 whitespace-nowrap"
                            data-mdb-ripple="true" data-mdb-ripple-color="yellow" data-bs-toggle="collapse"
                            data-bs-target="#collapsenews" aria-expanded="false" aria-controls="collapsenews">

                            <div class="flex space-x-2">
                                <i class="my-auto fa-regular fa-newspaper "></i>
                                <h1 class="text-sm text-left text-cs-black">News</h1>
                            </div>
                            <i class="my-auto fa-regular fa-angle-up"></i>

                        </a>
                        <ul class="relative accordion-collapse collapse" id="collapsenews" aria-labelledby="news"
                            data-bs-parent="#sidenavSecExample">
                            <li class="relative">
                                <a href="./news-internalNews.html"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out bg-white font-body hover:bg-slate-100 hover:font-title whitespace-nowrap"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Internal News</a>
                            </li>
                            <li class="relative">
                                <a href="news-tenantNews.html"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out bg-white whitespace-nowrap font-body hover:bg-slate-100 hover:font-title"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Tenant News</a>
                            </li>
                        </ul>
                    </li>
                    <!-- end news (desktop) -->

                    <!-- Building Management (desktop) -->
                    <li class="relative w-full" id="buildingManagement">
                        <a class="flex justify-between h-12 px-6 py-4 overflow-hidden text-sm text-gray-700 transition ease-in-out rounded cursor-pointer whitespace-nowraps font-title bg-slate-100"
                            data-mdb-ripple="true" data-mdb-ripple-color="yellow" data-bs-toggle="collapse"
                            data-bs-target="#collapsebuildingManagement" aria-expanded="false"
                            aria-controls="collapsebuildingManagement">

                            <div class="flex space-x-2">
                                <i class="my-auto fa-regular fa-clipboard "></i>
                                <h1 class="text-sm text-left text-cs-black">Building Management</h1>
                            </div>
                            <i class="my-auto fa-regular fa-angle-up"></i>

                        </a>
                        <ul class="relative accordion-collapse collapse" id="collapsebuildingManagement"
                            aria-labelledby="buildingManagement" data-bs-parent="#sidenavSecExample">
                            <li class="relative">
                                <a href="./buildingManagement-tenantMeterUtility.html"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Tenant Meter Utility</a>
                            </li>
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out whitespace-nowrap font-title bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Preventive Maintance</a>
                            </li>
                        </ul>
                    </li>
                    <!-- end Building Management (desktop) -->

                    <!-- Tenant & Internal (desktop) -->
                    <li class="relative w-full" id="internal">
                        <a class="flex justify-between h-12 px-6 py-4 overflow-hidden text-sm text-gray-700 transition ease-in-out rounded cursor-pointer whitespace-nowrap font-title-regular hover:font-title hover:bg-slate-100"
                            data-mdb-ripple="true" data-mdb-ripple-color="yellow" data-bs-toggle="collapse"
                            data-bs-target="#collapseinternal" aria-expanded="false" aria-controls="collapseinternal">

                            <div class="flex space-x-2">
                                <i class="my-auto fa-regular fa-store "></i>
                                <h1 class="text-sm text-left text-cs-black">Tenant & Internal</h1>
                            </div>
                            <i class="my-auto fa-regular fa-angle-up"></i>

                        </a>
                        <ul class="relative accordion-collapse collapse" id="collapseinternal"
                            aria-labelledby="internal" data-bs-parent="#sidenavSecExample">
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Complaint & Request</a>
                            </li>
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Internal Work Order</a>
                            </li>
                        </ul>
                    </li>
                    <!-- end Tenant & Internal (desktop) -->

                    <!-- Master Data (desktop) -->
                    <li class="relative w-full" id="masterData">
                        <a class="flex justify-between h-12 px-6 py-4 overflow-hidden text-sm text-gray-700 transition ease-in-out rounded cursor-pointer whitespace-nowrap font-title-regular hover:font-title hover:bg-slate-100"
                            data-mdb-ripple="true" data-mdb-ripple-color="yellow" data-bs-toggle="collapse"
                            data-bs-target="#collapsemasterData" aria-expanded="false"
                            aria-controls="collapsemasterData">

                            <div class="flex space-x-2">
                                <i class="my-auto fa-regular fa-database "></i>
                                <h1 class="text-sm text-left text-cs-black">Master Data</h1>
                            </div>
                            <i class="my-auto fa-regular fa-angle-up"></i>

                        </a>
                        <ul class="relative accordion-collapse collapse" id="collapsemasterData"
                            aria-labelledby="masterData" data-bs-parent="#sidenavSecExample">
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Items</a>
                            </li>
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Preventive Templates</a>
                            </li>
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Basic Price Utilities</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Master Data (desktop) -->

                    <!-- Category (desktop) -->
                    <li class="relative w-full" id="category">
                        <a class="flex justify-between h-12 px-6 py-4 overflow-hidden text-sm text-gray-700 transition ease-in-out rounded cursor-pointer whitespace-nowrap font-title-regular hover:font-title hover:bg-slate-100"
                            data-mdb-ripple="true" data-mdb-ripple-color="yellow" data-bs-toggle="collapse"
                            data-bs-target="#collapsecategory" aria-expanded="false" aria-controls="collapsecategory">

                            <div class="flex space-x-2">
                                <i class="my-auto fa-solid fa-grip-dots"></i>
                                <h1 class="text-sm text-left text-cs-black">Category</h1>
                            </div>
                            <i class="my-auto fa-regular fa-angle-up"></i>

                        </a>
                        <ul class="relative accordion-collapse collapse" id="collapsecategory"
                            aria-labelledby="category" data-bs-parent="#sidenavSecExample">
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Tenant</a>
                            </li>
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Asset</a>
                            </li>
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Work Order</a>
                            </li>
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Complaint & Request</a>
                            </li>
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Preventive</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Category (desktop) -->

                    <!-- Settings (desktop) -->
                    <li class="relative w-full" id="settings">
                        <a class="flex justify-between h-12 px-6 py-4 overflow-hidden text-sm text-gray-700 transition ease-in-out rounded cursor-pointer whitespace-nowrap font-title-regular hover:font-title hover:bg-slate-100"
                            data-mdb-ripple="true" data-mdb-ripple-color="yellow" data-bs-toggle="collapse"
                            data-bs-target="#collapsesettings" aria-expanded="false" aria-controls="collapsesettings">
                            <div class="flex space-x-2">
                                <i class="my-auto fa-regular fa-gear"></i>
                                <h1 class="text-sm text-left text-cs-black">Settings</h1>
                            </div>
                            <i class="my-auto fa-regular fa-angle-up"></i>

                        </a>
                        <ul class="relative accordion-collapse collapse" id="collapsesettings"
                            aria-labelledby="settings" data-bs-parent="#sidenavSecExample">
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Property Setting</a>
                            </li>
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Tenant Setting</a>
                            </li>
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Floor Setting</a>
                            </li>
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Unit Setting</a>
                            </li>
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Role Setting</a>
                            </li>
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Asset</a>
                            </li>
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">Dept Setting</a>
                            </li>
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">User Cornerstone</a>
                            </li>
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">User Property</a>
                            </li>
                            <li class="relative">
                                <a href="#!"
                                    class="flex items-center h-6 p-6 pl-12 pr-6 overflow-hidden text-sm text-gray-700 transition ease-in-out font-body whitespace-nowrap hover:font-title hover:bg-slate-100"
                                    data-mdb-ripple="true" data-mdb-ripple-color="yellow">User Tenant</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Settings (desktop) -->

                </ul>

            </div>
        </section>
        <!-- ===== end section button (left on desktop) ==== -->


        <!--* ===== section main display (right on desktop & center mobile) ==== -->
        <section class="w-full h-screen pt-16 pb-16 overflow-y-auto bg-slate-50">
            <div class="w-full px-4 py-6 space-y-5 ">
                <div class="max-w-3xl space-y-3">

                    <!-- back icon (for desktop) -->
                    <a href="./buildingManagement-PreventiveMaintance-create.html"
                        class="hidden my-auto space-x-3 md:flex">
                        <button class="w-8 h-8 rounded-full bg-slate-100">
                            <i class="fa-regular fa-chevron-left"></i>
                        </button>
                        <h1 class="my-auto text-sm font-title text-slate-800">Back</h1>
                    </a>
                    <!-- end back icon (for desktop) -->

                    <div>
                        <h1 class="text-xl md:text-2xl font-title">CHECKLIST PERAWATAN RUTIN GENSET</h1>
                        <div class="flex py-2 space-x-3">
                            <div class="flex px-2 py-1.5 bg-blue-500 space-x-2 rounded">
                                <i class="my-auto text-white fa-light fa-building"></i>
                                <h1 class="my-auto text-xs text-white font-body">FX Sudirman</h1>
                            </div>
                            <small class="my-auto font-body text-slate-500">FX-FR-3003-001</small>
                        </div>
                    </div>

                    <!-- description -->
                    <div class="bg-white border rounded">
                        <div class="p-2 space-y-2">
                            <small class="font-title text-slate-400">Description</small>
                            <h1 class="text-sm leading-relaxed font-body">CHECKLIST PERAWATAN RUTIN GENSET
                                DESKRIPSI
                            </h1>
                        </div>
                    </div>
                    <!-- end description -->


                    <div class="space-y-4">
                        <!-- Checklist item -->
                        <div class="p-2 bg-white border rounded">
                            <h1 class="text-lg md:text-xl font-title text-slate-800">Checklist Items</h1>
                            <ol class="py-2 pl-10 list-decimal list-outside divide-y">
                                <li class="py-2.5 text-sm font-body text-slate-600">ENGINE - ! OFF</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">ENGINE - Periksa Level Oli Mesin
                                </li>
                                <li class="py-2.5 text-sm font-body text-slate-600">ENGINE - Ganti Oli Mesin </li>
                                <li class="py-2.5 text-sm font-body text-slate-600">ENGINE - Ganti Filter Oli mesin</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">ENGINE - Periksa Level Air radiator
                                    dan
                                    sistim pendingin (Tambahkan jika perlu )</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">ENGINE - Periksa tegangan Tali kipas
                                </li>
                                <li class="py-2.5 text-sm font-body text-slate-600">ENGINE - Periksa dan Bersihkan
                                    saringan
                                    udara dan sistemnya</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">ENGINE - Periksa system dan
                                    instalasi
                                    bahan
                                    bakar</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">SISTEM LISTRIK DAN INSTALASI -
                                    Periksa
                                    tegangan batery /Accu</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">SISTEM LISTRIK DAN INSTALASI -
                                    Periksa
                                    Terminasi batery /Accu</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">SISTEM LISTRIK DAN INSTALASI -
                                    Periksa
                                    Level Air ACCU (tambahkan bila perlu )</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">SISTEM LISTRIK DAN INSTALASI -
                                    Periksa
                                    instalasi kabel</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">SISTEM LISTRIK DAN INSTALASI -
                                    Periksa
                                    Fungsi Pengisian Batery</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">SISTEM LISTRIK DAN INSTALASI -
                                    Periksa
                                    Fungsi Engine Panel</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">SISTEM LISTRIK DAN INSTALASI - Ukur
                                    dan
                                    Catat Output tegangan listrik</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">SISTEM LISTRIK DAN INSTALASI -
                                    Engine
                                    running Hour</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">SISTEM LISTRIK DAN INSTALASI -
                                    Bersihkan
                                    seluruh body Genset</li>
                            </ol>
                        </div>
                        <!-- end Checklist item -->

                        <!-- Input item -->
                        <div class="p-2 bg-white border rounded">
                            <h1 class="text-lg md:text-xl font-title text-slate-800">Checklist Items</h1>
                            <ol class="py-2 pl-10 list-decimal list-outside divide-y">
                                <li class="py-2.5 text-sm font-body text-slate-600">ENGINE - ! OFF</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">ENGINE - Periksa Level Oli Mesin
                                </li>
                                <li class="py-2.5 text-sm font-body text-slate-600">ENGINE - Ganti Oli Mesin </li>
                                <li class="py-2.5 text-sm font-body text-slate-600">ENGINE - Ganti Filter Oli mesin</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">ENGINE - Periksa Level Air radiator
                                    dan
                                    sistim pendingin (Tambahkan jika perlu )</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">ENGINE - Periksa tegangan Tali kipas
                                </li>
                                <li class="py-2.5 text-sm font-body text-slate-600">ENGINE - Periksa dan Bersihkan
                                    saringan
                                    udara dan sistemnya</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">ENGINE - Periksa system dan
                                    instalasi
                                    bahan
                                    bakar</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">SISTEM LISTRIK DAN INSTALASI -
                                    Periksa
                                    tegangan batery /Accu</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">SISTEM LISTRIK DAN INSTALASI -
                                    Periksa
                                    Terminasi batery /Accu</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">SISTEM LISTRIK DAN INSTALASI -
                                    Periksa
                                    Level Air ACCU (tambahkan bila perlu )</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">SISTEM LISTRIK DAN INSTALASI -
                                    Periksa
                                    instalasi kabel</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">SISTEM LISTRIK DAN INSTALASI -
                                    Periksa
                                    Fungsi Pengisian Batery</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">SISTEM LISTRIK DAN INSTALASI -
                                    Periksa
                                    Fungsi Engine Panel</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">SISTEM LISTRIK DAN INSTALASI - Ukur
                                    dan
                                    Catat Output tegangan listrik</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">SISTEM LISTRIK DAN INSTALASI -
                                    Engine
                                    running Hour</li>
                                <li class="py-2.5 text-sm font-body text-slate-600">SISTEM LISTRIK DAN INSTALASI -
                                    Bersihkan
                                    seluruh body Genset</li>
                            </ol>
                        </div>
                        <!-- end Input item -->
                    </div>



                </div>

            </div>
            <!-- ===== end  section information (right on desktop) ==== -->

        </section>


        <!--* ===== section main display (right on desktop & center mobile) ==== -->

    </section>
    <!-- ===== end section main ==== -->

    <!-- list row detail -->
    <script src="./js/list-row-detail.js"></script>
    <!-- flowbite -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/datepicker.min.js"></script>
    <script src="../node_modules/tw-elements/dist/js/index.min.js"></script>
</body>

</html>