<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMS - Tenant News</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./media/fontawesome-pro-6.0.0-web/css/all.min.css">
    <!-- alpinejs -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!-- tailwind element -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>

    <section x-data="{ open: false }">
        <!-- Temporary Button -->
        <section class="flex justify-center h-screen">
            <div class="my-auto">
                <button class="border p-2 hover:bg-cs-primary transition-colors hover:text-white" button
                    @click="open = true">
                    <h1 class="cs-font-buttonNormal">Suwawawiwa</h1>
                </button>
            </div>
        </section>
        <!-- end Temporary Button -->

        <!-- modal -->
        <section x-show="" class="absolute h-screen w-screen bg-black/25 top-0 left-0">

            <!-- box -->
            <div class="flex justify-center h-full">
                <div class="my-auto w-full flex justify-center">
                    <div class="max-w-xl w-full border md:rounded-md  bg-white divide-y relative">
                        <!-- header close -->
                        <div class="flex justify-between p-4 bg-red-200 fixed-top md:absolute w-full">
                            <div class="w-full my-auto cs-font-title text-cs-black">Detail</div>
                            <button
                                class="py-1.5 px-3 bg-red-50 hover:bg-red-500 hover:text-white rounded-full transition-colors">
                                <i class="fa-regular fa-xmark my-auto"></i>
                            </button>
                        </div>
                        <!-- end header close -->

                        <!-- information -->
                        <div class="p-2 md:max-h-[37.5rem] md:overflow-y-auto pt-20">
                            <h1 class="text-3xl">Atas</h1>
                            <h1 class="text-3xl">Mcdonald</h1>
                            <h1 class="text-3xl">Mcdonald</h1>
                            <h1 class="text-3xl">Mcdonald</h1>
                            <h1 class="text-3xl">Mcdonald</h1>
                            <h1 class="text-3xl">Mcdonald</h1>
                            <h1 class="text-3xl">Mcdonald</h1>
                            <h1 class="text-3xl">Mcdonald</h1>
                            <h1 class="text-3xl">Mcdonald</h1>
                            <h1 class="text-3xl">Mcdonald</h1>
                            <h1 class="text-3xl">Mcdonald</h1>
                            <h1 class="text-3xl">Mcdonald</h1>
                            <h1 class="text-3xl">Mcdonald</h1>
                            <h1 class="text-3xl">Mcdonald</h1>
                            <h1 class="text-3xl">Mcdonald</h1>
                            <h1 class="text-3xl">Mcdonald</h1>
                            <h1 class="text-3xl">Mcdonald</h1>
                            <h1 class="text-3xl">Mcdonald</h1>
                            <h1 class="text-3xl">Mcdonald</h1>
                            <h1 class="text-3xl">Bawah</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end box -->
        </section>
        <!-- end modal -->
    </section>


    <!-- CDN tw-element tailwind -->
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
    <script src="./js/sidenav.js"></script>
</body>

</html>