<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/test.css">
    <title>Document</title>
</head>

<body>
    <header class="fixed bg-white/90 backdrop-blur-sm w-full p-4 top-0 transition-shadow">

        <!-- nav -->
        <a href="#"
            class="font-medium hover:text-blue-500 transition-colors px-3 py-2 rounded-xl hover:bg-blue-100">Menu
            1</a>
        <a href="#">Menu 2</a>
        <a href="#">Menu 3</a>
        <a href="#">Menu 4</a>
        <!-- nav -->

    </header>


    <div class="pt-10">
        <img src="https://images.pexels.com/photos/8451490/pexels-photo-8451490.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="">
        <img src="https://images.pexels.com/photos/8451490/pexels-photo-8451490.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="">
        <img src="https://images.pexels.com/photos/8451490/pexels-photo-8451490.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="">
        <img src="https://images.pexels.com/photos/8451490/pexels-photo-8451490.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="">
    </div>

    <script>
        window.addEventListener('scroll', function () {
            const nav = document.querySelector('header');
            if (window.scrollY > 0) {
                nav.classList.add('scrolled');
            } else {
                nav.classList.remove('scrolled');
            }
        });
    </script>
</body>

</html>